body{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "header header" "intro faq" " articles faq" "footer footer";
    grid-column-gap: 15px;    
/* horizontally center */
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    min-width: 640px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}


body > header{
    grid-row: 1;
    grid-column: 1/-1;
}

body > article {grid-area: intro;}
body > aside {grid-area: faq;}
body > section {grid-area: articles;}
body > footer{grid-area: footer;}

nav{
    position: sticky;
    overflow: hidden;
    background-color:#E9EDC9;
}


nav li{
    float: left;
    display: block;
}

nav li a{
    color:#D4A373;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 

article{
    display: block;
    align-items: center;
    margin: 60px;
    justify-content: center;
    border-style: groove;
    border-color: #97a97c;
    padding: 1rem;
}

aside{
    padding: 1rem;
    margin: 1rem;
    background-color: #e9f5db;
}

/* Grid styles for nested grid */
section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

section > h1{
    grid-area: 1/1/2/3;
}

body > footer::after {
    clear: both;
    content: "";
    display: table;
}

footer{
    padding: 1rem;
    background-color:#E9EDC9;
    margin: 1rem;
}

form{
    margin: 1rem;
    width: 100%;
    padding: 2rem;
    display: block;
    background-color:#97a97c;
}